<mat-card class="example-card" appearance="outlined">
    <mat-card-header class="nowrap">
     {{product.title}}
    </mat-card-header>
    <img mat-card-image [src]="product.image" height="100" width="250" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{product.price|currency:'USD'}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="shopping_cart" (click)="add()"></mat-icon>
        <p>{{count}}</p>
      <mat-icon aria-hidden="false" *ngIf="isCartActivated" aria-label="Example home icon" fontIcon="add" (click)="add()"></mat-icon>
      <mat-icon aria-hidden="false" *ngIf="isCartActivated" aria-label="Example home icon" fontIcon="remove" (click)="subtract()"></mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete" (click)="trash()"></mat-icon>
    </mat-card-actions>
  </mat-card>