<form #form [formGroup]="profileForm" (ngSubmit)="getProfileForm()">
  <label for="name">Name</label>
  <input type="text" formControlName="name" id="name" />
  <label for="email">Email</label>
  <input type="email" formControlName="email" id="email" />
  <div formGroupName="address">
    <h2>Address</h2>
    <label for="street">Street: </label>
    <input id="street" type="text" formControlName="street">
    <!-- <label for="city">City: </label>
    <input id="city" type="text" formControlName="city"> -->
    <label for="state">State: </label>
    <input id="state" type="text" formControlName="state">
    <label for="zip">Zip Code: </label>
    <input id="zip" type="text" formControlName="zipcode">
  </div>
  <label for="gender">Gender</label>
  <input type="radio" formControlName="gender" id="gender" [value]="false" />Female
  <input type="radio" formControlName="gender" id="gender" [value]="true" />Male
  <select class="custom-select" formControlName="city">
    <option value="">Choose your city</option>
    <option *ngFor="let city of optionCity" [value]="city">{{city}}</option>
  </select>
  <label for="terms">Terms</label>
  <input type="checkbox" formControlName="terms" id="terms" [value]="false" />Agree
  {{profileForm.valid}}
  <button type="submit" [disabled]="">Click me</button>
</form>